<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
<h1>Enter the details</h1>

<form name="add" action="/validate" method="POST">
<table>
<tr><td><label>UserId :</label></td>
<<td><input type="text" name="userid" id="userid" required/></td></tr>

<tr><td><label>Password :</label></td></tr>
<tr><td><input type="password" name="password" id="password" required/></td></tr>
<tr><td><label>UserLevel :</label></td></tr>
<tr><td><input type="radio" id="emp" name="det" value="emp"><input type="radio" id="adm" name="det" value="adm">
</td></tr>

</table>
<input type="submit" name="register" value="register"/>


</body>
</html>